@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background: #EC4899;
  border-radius: 10px;
}
::-webkit-scrollbar-track{
  background: white;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #fc73b7;
}
.singleFunBg {
  background-image: url(./Images/single-fun-bg.png);
  background-position: top;
  background-size: cover;
}
.btn {
  display: block;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #EC4899;
  border: 2px solid #EC4899;
  transition: 0.3s;
  color: white;
}
.btn:hover {
  color: #EC4899;
  background: transparent;
}
.container {
  margin:  0  auto ;
}
@media (max-width : 768px) {
  .container {
    padding: 0 10px;
  }
  .btn{
    font-weight: 500;
    font-size: 16px;
    padding: 7px 15px;
  }
}
